#location-overview {
    position: absolute;
}

#location-overview img {
    border: 0;
}

.overlay {
    position: absolute;
}


/***
TODO: make klick_overlay class instead of id to allow multiple buildings at the same time

**/

.floor-click-overlay, .property-klick-overlay {
    z-index: 2048;
    overflow: visible;
}

.property-click-overlay {
    display: none;
}

.property-click-overlay.active {
    display: block;
}



.floor-click-overlay img, .property-klick-overlay img {
    background: none;
    border: 0;
}


.desaturate {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

area {
    outline:none;

    outline:#00FF00 dotted 2px;
}