#location-overview {
    position: absolute;
}

#location-overview img {
    border: 0;
}

/**
transition: top 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
transition: left 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
transition: opacity 1000ms ease-in;
transition: z-index 10ms ease-in;
transition: color 1000ms ease-in;
*/

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}

.floor-overlay, .property-overlay {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.floor-overlay, .roof-overlay {
    transition: top 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000),
    left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

.floor-overlay.offset, .roof-overlay.offset {
    transition: top 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000),
    left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

.property-overlay {
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

.floor-overlay.active .property-overlay {
    opacity: 0.8;
    transition: opacity 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

.floor-overlay.active, .property-overlay.active {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.floor-click-overlay, .property-klick-overlay {
    z-index: 2048;
    overflow: visible;
}


.floor-click-overlay img {
    background: none !important;
    border: 0;
}

.saturate {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    transition: all 200ms ease-in;
    opacity: 1;
}

area {
    outline: #00FF00 dotted 2px;
    outline: none;
    cursor: pointer;
}

area.disabled {
    cursor: none;
}

